$background-color-primary: #FFFBED;
$background-color-secondary: rgba(80, 159, 52, 0.25);

// text
$color-text-primary:  #5e5032;
$color-text-secondary: #523f19;
$color-text-tertiary: #FFFFFF;
// $color-text-quaternary: #F2582D;
// $color-text-active:  #FFFFFF;

// button
// $background-color-button: #F25822;
// $color-text-button: #FFFFFF;

// border
// $border-color: #CCCCCC;
